*.go                linguist-language=Go
*.templ             linguist-detectable=false

**/*_templ.go       linguist-generated=true
**/*_templ.go       linguist-vendored

*.js                linguist-vendored
*.css               linguist-vendored
*.html              linguist-vendored
static/**           linguist-vendored
Makefile            linguist-detectable=false
