*.go                linguist-language=Go
*.templ             linguist-language=templ

**/*_templ.go       linguist-generated=true
**/*_templ.go       linguist-vendored

*.js                linguist-vendored
*.css               linguist-vendored
*.html              linguist-vendored
static/**           linguist-vendored

*.templ             linguist-detectable=true
