*.go          linguist-language=Go
*.templ       linguist-language=templ
*_templ.go    linguist-generated=true

*.js          linguist-vendored
*.min.js      linguist-vendored
static/**     linguist-vendored
