node_modules/
bin/
_site/
static/style.css

*.log
*.test
*.out
*.test.exe
coverage.out

*_templ.go

.DS_Store
Thumbs.db
Desktop.ini

.idea/
.vscode/
*.swp
*.swo
*~

.env
.env.*
!.env.example
!.env.test

tmp/
vendor/
