package components

templ Card() {
	<div class="group space-y-6 rounded-2xl border border-muted bg-elevated px-8 py-10 transition-all duration-300 ease-smooth hover:-translate-y-1 hover:border-gray/50 hover:shadow-card light:hover:border-gray/30 light:hover:shadow-card-light">
		{ children... }
	</div>
}
