package pages

import "github.com/tahasadough/tahasadough.com/internal/web/components/ui"

templ contactSection() {
	<section id="contact" class="relative flex flex-col items-center justify-center gap-7 py-32">
		@ui.Badge("Contact")
		<h2 class="text-center text-3xl lg:text-5xl">
			<span class="text-gray">Let&apos;s Get </span> in Touch
		</h2>
		<p class="text-center text-base text-gray">Let&apos;s start ASAP.</p>
		@ui.Button("https://github.com/tahasadough") {
			Connect me
		}
		<div class="absolute inset-0 -z-10 h-full bg-surface opacity-90"></div>
		<div class="animate-blob absolute -top-20 left-0 h-2/5 w-full bg-linear-to-br from-elevated to-surface blur-3xl"></div>
		<div class="animate-blob absolute top-98 bottom-0 left-0 h-1/3 w-full bg-linear-to-br from-elevated to-surface blur-3xl" style="animation-delay: -5s; animation-duration: 12s;"></div>
		<img src="/images/metallic-shape-background.webp" alt="" aria-hidden="true" loading="lazy" class="absolute inset-0 -z-20 size-full object-cover select-none"/>
	</section>
}
